.about-us {
  @include inside-container;
}

.about-us__subhead {
  margin-bottom: 33px;
}

.about-us__description {
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
  line-height: 28px;
  color: $article-color;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: $font-normal;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .about-us {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -24px;
      width: 2px;
      height: 83px;
      background-color: #883eca;
      transform: translate(5%);
    }
    &::before {
      content: "";
      position: absolute;
      left: 48.5%;
      bottom: -12px;
      width: 2px;
      height: 83px;
      background-color: #883eca;
      transform: translate(90%);
    }
  }
  .about-us__head {
    margin-bottom: 47.5px;
    margin-top: 46px;
  }
  .about-us__subhead {
    margin-bottom: 33px;
  }
  .about-us__description {
    margin-top: 23px;
    width: 676px;
  }
}

@media (min-width: $desctop-width) {

  .about-us {
    &::after {
      left: 50.4%;
      bottom: -68px;
    }
    &::before {
      left: 49.8%;
      bottom: -19px;
    }
  }

  .about-us .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-left: 10px;
    padding-bottom: 101px;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto;
  }

  .about-us__process-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
  }

  .about-us__head {
    padding-left: 26px;
    margin-top: 104px;
  }

  .about-us__subhead {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-left: 30px;
    width: 356px;
  }

  .about-us__description {
    margin-top: 25px;
    padding-left: 30px;
    width: 515px;
  }
}
