.serv-interier {
  @include inside-container;
  background: url('../img/interier-serv-bg320px.jpg');
  background-size: 535px 332px;
  background-repeat: no-repeat;
  background-position: 56px 81%;
}

.serv-interier__subhead {
  padding-top: 69px;
  padding-bottom: 30px;
  &::after {
    content: '2';
    color: $white-color;
  }
}

.serv-interier p {
  width: 100.5%;
  color: $article-color;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: $font-normal;
  line-height: 24px;
}

.serv-interier__btn {
  margin-top: 28px;
  margin-bottom: 251px;
  &:hover,
  &:focus,
  &:active {
    margin-top: 26px;
    margin-bottom: 249px;
  }
}

@media (min-width: $tablet-width) {
  .serv-interier {
    position: relative;
    padding-bottom: 113px;
    background: url('../img/interier-serv-bg750px.jpg');
    background-size: 1000px 599px;
    background-repeat: no-repeat;
    background-position: 260px 64%;
    &::after {
      content: "";
      position: absolute;
      left: 50.5%;
      bottom: -100px;
      width: 2px;
      height: 83px;
      background-color: #883eca;
      transform: translate(20%);
    }
    &::before {
      content: "";
      position: absolute;
      left: 49%;
      bottom: -53px;
      width: 2px;
      height: 83px;
      background-color: #883eca;
      transform: translate(90%);
    }
  }

  .serv-interier__subhead {
    margin-top: 69px;
    width: 400px;
  }

  .serv-interier p {
    margin-top: 32px;
    width: 555px;
  }

  .serv-interier__btn {
    margin-top: 33px;
    width: 240px;
    &:hover,
    &:focus,
    &:active {
      margin-top: 31px;
    }
  }
}

@media (min-width: $desctop-width) {
  .serv-interier {
    padding-bottom: 282px;
    background: url('../img/interier-serv-bg1170p.jpg');
    background-size: 1247px 760px;
    background-repeat: no-repeat;
    background-position: 119px 69px;
    &::after {
      left: 50.3%;
    }
    &::before {
      left: 49.8%;
    }
  }
  .serv-interier .container {
    @include central-container;
    max-width: 1170px;
  }

  .serv-interier__subhead {
    margin-top: 59px;
    width: 400px;
    margin-left: auto;
    margin-right: 170px;
    &:after {
      left: -75px;
    }
  }

  .serv-interier p {
    margin-left: auto;
    margin-right: 16px;
    margin-top: 22px;
  }

  .serv-interier__btn {
    display: block;
    margin-left: auto;
    margin-top: 59px;
    width: 240px;
    margin-right: 328px;
    &:hover,
    &:focus,
    &:active {
      margin-left: auto;
      margin-top: 57px;
      margin-right: 326px;
    }
  }
}
