$main-color: #7f38bd;
$btn-color: #fb0275;
$btn-active-color: #db5792;
$main-font-color: #323232;
$white-color: #ffffff;
$grey-color: #faf8fb;
$link-hover-color: #ab96bc;
$link-active-color: #351a4c;
$menu-active-color: #323232;
$article-color: #5e606a;
$order-color: #383d52;
